extends layout

block content
  div(class="main")

    h1= title

    div(id="chat-history")
    
    div
      span(id="user-name") ...wait...
      span 
        input(class="chat-input", id="chat-input-msg", type="text", placeholder="Enter your message")
  